<!doctype html>
<html lang="en">
  <!DOCTYPE html>
  <html lang="en">
  <head>
    <style>

      body{
        height:40em; background-size:cover; width:auto;
        background-image:url('../assets/images/shopping_time.jpg');
        background-position:50% 50%;
      }
    </style>
  </head>
  <body>
      <div class="col-md-8">
          <h4> Welcome to CapStore </h4>
         
              <p class="text-success" style="font-weight: bold">Across India, there are thousands of sellers, 
                authors and businesses using CapStore products and services to reach new customers, 
                build and grow their businesses.</p>
            
        </div>
  </body>
  </html>





